{% extends 'base.html' %}

{% load static %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
</style>


<!-- main content -->
<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Top 'create order' bar -->
			<div class="d-lg-none mb-3">
				<div class="card m-auto d-flex flex-column p-3">
					<img class="img-fluid d-block m-auto pb-2" src="{% static './vegetables.jpg' %}" width="72" height="72">
					<p class="lead">Due to this transition you are facing a lot of challenges and in such a situation it can prove to be very difficult to manage your our the basic need of vegetables,food,Medicined .We are trying to connect you the neerest shop or vender to deliver your need ,so that gathering can be avoided for these basic need.</p>
					<p class="m-auto"><a class="btn btn-primary" href="{% url 'customer:create' %}">Create Order</a></p>
				</div>
			</div>
			<!-- end Top 'create order' bar -->

			<!-- order posts-->
			{% if user_orders %}
				{% for user_order in user_orders %}
					<div class="blog-post-container">
						<!--pagination -->
						{% include 'customer/snippets/order_post_snippet.html' with user_order=user_order %}
					</div>
				{% endfor %}
				
			{% else %}

			<div class="blog-post-container">
					{% include 'customer/snippets/order_post_snippet.html' with query=query %}
			</div>
			
			{% endif %}
			<!-- End Blog posts-->

		<!-- Pagination -->
	
		 {% include 'customer/snippets/order_post_pagination.html' with user_orders=user_orders %}

		</div>
		<!-- end blog feed -->


		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="{% static './vegetables.jpg' %}" width="72" height="72">
				<p class="lead">Due to this transition you are facing a lot of challenges and in such a situation it can prove to be very difficult to manage your our the basic like vegetables, food, Medicined . We are trying to connect you the neerest shop or vender to deliver your need ,so that gathering can be avoided for these basic need..</p>
				<p class="m-auto"><a class="btn btn-primary" href="{% url 'customer:create' %}">Order here...</a></p>
			</div>
		
		</div>
		<!-- end Right 'create post' column  -->



	</div>
</div>

{% endblock content %}
